 /* Remova as bordas inferiores e arredondadas padrão da barra de navegação */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Adicione uma cor de fundo cinza e algum preenchimento ao rodapé */
footer {

    background-color: #101010;
    color: white;
    padding: 25px;
}

 