
.cabeçalho{

	
	background-image: url(/IMG/capa.png);
	border: ;
	
	width: 100%;



}


.menu{

	background: url("/IMG/capa.png")
	border: 1px solid red;
	padding: 30px; /*Espaçamento interno */
	/**/
}

.principal{
	border: 1px solid red;
	width: 900px;
        
}


.container-cabeçalho{
	background-image: url("/IMG/capa.png");
	font: 16px Arial,Helvetica,sans-serif;

}